/* Reset & Core Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* Prevent text selection */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Prevent native scrolling */
    background-color: #000000;
}

/* The Main Screen */
.screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

/* Display the image filling the screen gracefully */
#status-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Important to make sure the image covers the entire mobile screen */
    transition: opacity 0.5s ease, transform 0.2s ease-out;
}